html, body {
    height: 100%;
    width: 100%;
    background-color: #bbb;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.testing {
    height: 80px;
    width: 50%;
    background-color: #8a4;
}

.platform {
    border: 1px solid black;
    box-sizing: border-box;
}
